/*
Orange: #ff9900
Blue: #007aff
Header/Footer Blue: #232f3e */
body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.primary-background{
	background-color: #232f3e;
}
.primary-text{
	color: #ff9900;
}
.secondary-text{
	color: #007aff;
}
.btn{
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	background-color: #ff9900;
	color: white;
}
.border{
	border:1px solid #cccccc;
}
/*HEADER*/
header{
	overflow: auto;
	height: 80px;
	line-height: 80px;
}
header .logo{
	float: left;

}
header .logo img{
	vertical-align: middle;
}
header nav{
	float: right;
}

/*MAIN*/
main{
	padding: 20px 0;
}
/*SHOPPING CART*/


/*FOOTER*/
footer{
	text-align: center;
	line-height: 100px;
	height: 100px;
}
footer .logo img{
	vertical-align: center;
}