/*
Orange: #ff9900
Blue: #007aff
Header/Footer Blue: #232f3e 
Red: #ec1a29
by Amazoon gray: #83878b*/
body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.primary-background{
	background-color: #232f3e;
}
.primary-text{
	color: #ff9900;
}
.secondary-text{
	color: #007aff;
}
.red-text{
	color: #ec1a29;
}
.gray-text{
	color: #83878b;
}
.btn{
	text-decoration: none;
	text-align: center;
	border-radius: 5px;
	background-color: #ff9900;
	color: white;
}
.border{
	border-bottom: 1px solid #cccccc;
}
[class*="col-"]{
  /*border:2px solid red;
  border-radius:12px;*/
  line-height:50px;
  text-align:left;

}
/*HEADER*/
header{
	overflow: auto;
	height: 80px;
	line-height: 80px;
}
header .logo{
	float: left;

}
header .logo img{
	vertical-align: middle;
}
header nav{
	float: right;
}

/*MAIN*/
main{
	padding: 20px 0;
}
/*SHOPPING CART*/
h1{
	text-align: center;
	font-weight: 300;
}
.product-title h2{
	font-weight: 300;
	display: inline;
	margin-right: 10px;
}
.sub-head{
	font-size: 18px;
}
.price{
	font-size: 20px;
}
.total{
	font-size: 18px;
	font-weight: 400;
}
/*FOOTER*/
footer{
	padding: 25px;
	text-align: center;
	height: 100px;
}
footer img{
	vertical-align: middle;
	width: 15%;
}
footer p{
	color: white;
}